* {
    margin: 0;
    padding: 0;
    width: 964.800*2142;
}

body {
    overflow-x: hidden;
}

html {
    font-size: 95%;
}

/*transición*/

.slider {
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.slider ul {
    display: flex;
    padding: 0;
    width: 250%;
    animation: cambio 15s infinite alternate linear;
}

.slider li {
    width: 100%;
    list-style: none;
}

.slider img {
    width: 100%;
}

@keyframes cambio {
    0% {
        margin-left: 0%;
    }

    10% {
        margin-left: 0%;
    }

    25% {
        margin-left: -50%;
    }

    50% {
        margin-left: -100%;
    }

    75% {
        margin-left: -100%;
    }

    100% {
        margin-left: -150%;
    }

}

/*últimos ingresos*/


.ingrPublic {
    list-style-type: none;
    margin: 0px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.ingrPublic li img {
    display: inline-block;
    text-align: center;
    display: flex;
    margin: 1px;
    padding: 7px;
    text-decoration: none;
}

.ingrPublic li img:hover {
    background-color: rgb(94, 11, 40);
    transform: scale(1.3, 1.3);
    border-radius: 100%;
}

.ultIngr em {
    display: flex;
    text-align: end;
    margin: 0%;
    padding: 1%;
    font-size: 89%;
    background-color: rgb(94, 11, 40);
    color: white;
    justify-content: center;
}

.propOfr em {
    display: flex;
    text-align: end;
    margin: 0%;
    padding: 1%;
    font-size: 59%;
    background-color: rgb(94, 11, 40);
    color: white;
    justify-content: center;
}

/*venta*/

.propVent {
    list-style-type: none;
    margin: 0px;
    background-color: white;
    display: flex;
    justify-content: space-around
}

.propVent li img {
    display: inline-block;
    text-align: center;
    display: flex;
    margin: 1px;
    padding: 7px;
    text-decoration: none;
}

.propVent li img:hover {
    background-color: rgb(94, 11, 40);
    transform: scale(1.3, 1.3);
    border-radius: 100%;
}

.datContact li {
    display: flex;
    text-align: end;
    margin: 5%;
    padding: 0%;
    font-size: 90%;
    background-color: white;
    color: white;
    justify-content: center;
}

.datTasac li {
    display: flex;
    text-align: end;
    margin: 0%;
    padding: 1%;
    font-size: 125%;
    background-color: rgb(94, 11, 40);
    color: white;
    justify-content: center;
}

.datEmpres li {
    display: flex;
    text-align: end;
    margin: 0%;
    padding: 1%;
    font-size: 125%;
    background-color: rgb(94, 11, 40);
    color: white;
    justify-content: center;
}

.datEmpres1 li {
    display: list-item;
    text-align: right;
    margin: 0%;
    padding: 1%;
    font-family: 'Raleway', sans-serif;
    font-size: 121%;
    background-color: white;
    color: rgb(94, 11, 40);
    justify-content: center;
}





nav {
    position: relative;
    bottom: 75px;
    left: 390px;
}


.navBackground {
    background-color: white;
    position: sticky;
    top: 0px;
}

.navBackground img {
    padding: 40px;
    width: 13%;
}

ul {
    list-style: none;
    font: size 250px;
}

ul li {
    display: inline-block;
    width: 13.98%;
    color: white;
    background-color: rgb(94, 11, 40);
    position: static;
    text-align: center;
    font-size: 100%;
}

ul li a {
    color: white;
    font-size: 95%;
    text-decoration: none;/*para quitar subrayados y demas*/
}

ul ul {
    position: relative;
    display: none;
}

ul ul li {
    display: block;
    width: 192px;
    padding: 10px;
}

ul ul li a {
    color: white;
    text-decoration: none;
}

ul li:hover ul {
    position: absolute;
    display: block;
    background-color: rgb(94, 11, 40);
}

.mapaDelsitio li a {
    width: 2142px;
    height: 30px;
    color: rgb(94, 11, 40);
    background-color: white;
    position: relative;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: justify;
}

.webUnd {
    display: flex;
    text-align: end;
    margin: 0%;
    padding: 1%;
    font-size: 59%;
    background-color: rgb(94, 11, 40);
    color: white;
    justify-content: center;
}